
@import url('assets/font-awesome/css/fontawesome-all.min.css');

@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/font/Lato-Bold.ttf') format('truetype'), url('assets/font/Lato-Bold.eot'), url('assets/font/Lato-Bold.woff'), url('assets/font/Lato-Bold.woff2');
}
@font-face {
    font-family: 'Lato-Black';
    src: url('assets/font/Lato-Black.ttf') format('truetype'),url('assets/font/Lato-Black.eot'), url('assets/font/Lato-Black.woff'), url('assets/font/Lato-Black.woff2');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('assets/font/Lato-Light.ttf') format('assets/truetype'),url('assets/font/Lato-Light.eot'), url('assets/font/Lato-Light.woff'), url('assets/font/Lato-Light.woff2');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/font/Lato-Regular.ttf') format('truetype'),url('assets/font/Lato-Regular.eot'), url('assets/font/Lato-Regular.woff'), url('assets/font/Lato-Regular.woff2');
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    
}

.header-wrapper {
    width: 100%;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.header {
    min-width: 1020px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.logo {
    text-decoration: none;
 }

h1 {
    font-family: 'Lato-Bold';
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 14px 0 22px 40px;
    letter-spacing: -0.027em;
}

    h1 > i {
        color: #f06c64;
        font-size: 8px;
        vertical-align: super;
    }

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 30px 20px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    color: #494e62;
}

li > i {
    font-size: 4px;
    color: #494e62;
    vertical-align: middle;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 12px;
    padding: 10px;
}

    .nav-link:hover {
        color: #f06c64;
    }

.slider-wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.slider {
    min-width: 1020px;  
    height: 585px;
    position:relative;
    background-color: #f06c64;
    border-bottom: 15px solid #ea676b;
}

.iphone-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
    z-index: 2;
    cursor: pointer
}
.shadow-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
    z-index: 1;
   
}

.screen-vertical {
    position: absolute;
    top: 118px;
    left: 126px;
    width: 188px;
    height: 333px;
    background-image: url(assets/img/background-vertical.png);
    z-index: 3;
    background-repeat: no-repeat;
    background-position: -14px -135px;
    cursor: pointer;
}

.iphone-horizontal {
    position: absolute;
    transform: rotate(90deg);
    bottom: 73px;
    right: 260px;
    z-index: 2;
    cursor: pointer;
}
.shadow-horizontal {
    position: absolute;
    top: 173px;
    right: 112px;
    z-index:1;
}

.screen-horisontal {
    position: absolute;
    top: 188px;
    right: 201px;
    width: 334px;
    height: 189px;
    background-image: url(assets/img/background-horisontal.png);
    z-index: 3;
    background-repeat: no-repeat;
    background-position: -125px -118px;
    cursor: pointer;
}
.chev-left-bottom {
    position: absolute;
    top: 280px;
    left: 40px;
    color: #ca4549;
    font-size: 30px;
    cursor: pointer;
}

.chev-left-bottom:hover {
    color: #000000;
}

.chev-right-bottom {
    position: absolute;
    top: 280px;
    right: 40px;
    color: #ca4549;
    font-size: 30px;
    cursor: pointer;
}

.chev-right-bottom:hover {
    color: #000000;
}

.our-services-wrapper {
    width: 100%;
    height: 502px;
    display: flex;
    justify-content: center;
}

.our-services {
    max-width: 1020px; 
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.our-services-header {
    max-width: 1020px;
    height: 220px;
    padding: 0 40px;
    overflow: hidden;
}

h2 {
    font-family: 'Lato-Black';
    font-size: 30px;
    color: #666d89;
    text-transform: capitalize;
    margin: 60px 0 15px;
 }

.our-services-text {
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #666d89;
    text-align: justify;
    line-height: 30px;
    letter-spacing: -0.012em;
    word-wrap: break-word;
}

.services-list {
    max-width: 1020px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }


.list-wrapper {
    width: 300px;
    height: 295px;
    overflow: hidden;
}

.list {
    padding-left: 0;
 }

.custom-design {
    list-style: none;
    background: url(assets/img/pen.png) no-repeat;
}

.responsive-layout {
    list-style: none;
    background: url(assets/img/phone.png) no-repeat;
}

.inovative-ideas {
    list-style: none;
    background: url(assets/img/bulb.png) no-repeat;
}

.support {
    list-style: none;
    background: url(assets/img/bubble.png) no-repeat;
}

.love-answer {
    list-style: none;
    background: url(assets/img/heart.png) no-repeat;
}

.feel-star {
    list-style: none;
    background: url(assets/img/star.png) no-repeat;
}

h3 {
    font-family: 'Lato-Black';
    font-size: 18px;
    color: #666d89;
    text-transform: capitalize;
    padding: 0 0 5px 82px;
    margin:0px;
    letter-spacing: -0.017em;
 }

    h3 + p {
        font-family: "Lato-Regular";
        font-size: 12px;
        text-align: justify;
        color: #666d89;
        line-height: 1.8;
        padding: 0 5px 34px 82px;
        margin: 0px;
        word-wrap: break-word;
        letter-spacing: -0.012em
    }
